@font-face {
    font-family: 'LineSeed';
    src: url('../fonts/LINESeedJP_OTF_Rg.woff') format('woff'),
    url('../fonts/LINESeedJP_OTF_Bd.woff') format('woff'),
    url('../fonts/LINESeedJP_OTF_Eb.woff') format('woff'),
    url('../fonts/LINESeedJP_OTF_Tn.woff') format('woff');
}

html, body { height: 100%;}
body {
    font-family: 'LineSeed', sans-serif;
    font-style: normal;
    color:#333;
}

body > .footer {
    position: sticky;
    top: 100vh;
}

a{
    text-decoration: none;
}

.noto-color-emoji {
    font-family: 'Noto Color Emoji';
}

div#header-carousel {
    background:url("../images/background.png");
    background-attachment:fixed;
}

nav#global-menu {
    font-size: 80%;
    padding:0;
    margin: 0;
    height:auto;
}

nav#global-menu span#header-logo{
    display: block;
    width: 13rem;
    padding:0;
    margin:0;
}

nav#global-menu ul{
    padding: 0;
    margin: 0;
    list-style: none;
}

nav#global-menu ul li a{
    display: block;
    color: aliceblue;
    text-decoration: none;
    padding:1.5rem;
}

nav#global-menu ul li a:hover,
nav#global-menu ul li a.active{
    background-color: rgba(255, 255, 255, 0.111);
}

.footer{
    width: 100%;
    height:40px;
    font-size: small;
}

.text-shadow {
    text-shadow: 0 2px 1px #000;
}

#side-bar{
    position: relative;
}

#side-bar ul li{
    list-style: none;
    margin: 0.5rem 0;
}

#side-bar ul li ul {
    padding-left: 1rem;
}

#side-bar ul li ul li ul {
    font-size: 90%;
    padding-left:1.5rem;
    margin-left: 0;
    border-left:3px solid #ccc;
}

#side-bar ul li ul li ul li ul{
    margin-left: 0;
    padding-left: 1rem;
    border:none;
}
#side-bar ul li ul li ul li ul a{
    color:#666;
}
#side-bar ul li ul li ul li ul a:hover{
    color:#999;
}

#side-bar ul li a{
    color:#333;
    text-decoration: none;
}

#side-bar ul li a:hover{
    color:#666;
}

#side-bar ul li.icon-basic::before {
    content: url(../images/basic_icon.svg);
    vertical-align: middle;
}
#side-bar ul li.icon-gdscript::before {
    content: url(../images/gdscript_icon.svg);
    vertical-align: middle;
}
#side-bar ul li.icon-input::before {
    content: url(../images/input_icon.svg);
    vertical-align: middle;
}
#side-bar ul li.icon-particle::before {
    content: url(../images/particle_icon.svg);
    vertical-align: middle;
}
#side-bar ul li.icon-audio::before {
    content: url(../images/audio_icon.svg);
    vertical-align: middle;
}
#side-bar ul li.icon-shader::before {
    content: url(../images/shader_icon.svg);
    vertical-align: middle;
}
#side-bar ul li.icon-gui::before {
    content: url(../images/gui_icon.svg);
    vertical-align: middle;
}
#side-bar ul li.icon-2d::before {
    content: url(../images/2d_icon.svg);
    vertical-align: middle;
}
#side-bar ul li.icon-3d::before {
    content: url(../images/3d_icon.svg);
    vertical-align: middle;
}
#side-bar ul li.icon-file::before {
    content: url(../images/file_icon.svg);
    vertical-align: middle;
}
#side-bar ul li.icon-algo::before {
    content: url(../images/algo_icon.svg);
    vertical-align: middle;
}
#side-bar ul li.icon-network::before {
    content: url(../images/network_icon.svg);
    vertical-align: middle;
}

#side-bar a.toggle-icon{
    display: flex;
    width:24px;
    height:24px;
    border-radius: 1rem;
    text-decoration: none;
    font-size:80%;
    font-weight: bolder;
    box-shadow: rgba(0,0,0,0) 0 0 0;
    transition: .5s ;
    justify-content: center;
    align-items: center;
    position: relative;
}

#side-bar a.toggle-icon[aria-expanded="true"],
#side-bar a.toggle-icon:hover{
    transition: .5s ;
    box-shadow: rgba(0,0,0,1) 0 0 5px;
}

#side-bar a.toggle-icon[aria-expanded="false"] .target,
#side-bar a.toggle-icon .target {
    transition: .2s ;
    transform: rotateZ( 360deg ) ;
    display: block;
}

#side-bar a.toggle-icon[aria-expanded="true"] .target,
#side-bar a.toggle-icon:hover .target {
	transform: rotateZ( 90deg ) ;
}

.shadow-tooned{
    box-shadow:#000 0 1px 3px
}


.mode-change-button{
    transition: .5s ;
    z-index:100; 
    position:absolute; 
    top:3px; 
    left:3px;
    font-size: 80%;
    box-shadow: rgba(0,0,0,0.0) 0 0 3px;
    text-align: center;
}


.mode-change-button:hover{
    transition: .5s ;
    box-shadow: rgba(0,0,0,0.5) 0 0 3px;
}

ul#all-toc{
    max-height: calc(100vh - 150px);
    overflow-y: auto;
    overflow-x: hidden;
}


nav#TableOfContents ul{
    font-size: 90%;
    font-weight: bold;
}

nav#TableOfContents ul ul{
    font-weight: normal;
    border-left: 2px solid #999;
    padding-left:0.5rem;
    margin-left: 0.5rem;
}

div#post-footer{
    padding: 1rem;
}

.twitter-icon::before{
    content: "";
    background-image:url("../images/Twitter-Icon.svg");
    background-size: contain;
    margin-right:0.5rem;
    width:20px;
    height: 20px;
    display: inline-block;
    vertical-align: bottom;
}

.github-icon::before{
    content: "";
    background-image: url("../images/Github-Icon.svg");
    background-size: contain;
    margin-right:0.5rem;
    width:20px;
    height: 20px;
    display: inline-block;
    vertical-align: bottom;
}


.news-column{
    text-align: center;
    padding: 0;
}

div.news-column a h5{
    color:inherit;
    font-size: 1.25rem;
}

div.news-column a p{
    color:#333;
}

div.news-column a p.info{
    color:#444;
    font-size: 80%;
    font-weight: bold;
    text-align: center;
}

div.news-column a .news-images{
    margin:1rem auto 0.3rem;
    border-radius: 0.5rem;
    box-shadow: rgba(0,0,0,0.25) 0 3px 4px;
    width:90%;
}

ul.tag-list{
    list-style: none;
    background:rgba(64,0,32,0.050);
    padding:1rem;
    border-radius: 0.5rem;
    margin:1rem auto;
}

ul.tags{
    justify-content: center;
    text-align: center;
    list-style: none;
}


ul.tags a{
    font-size: 80%;
}

table.post-info{
    width:auto;
    margin:1rem auto;
    border:1px solid #aaa;
    font-size: 80%;
    opacity: 80%;
}

table.post-info tbody tr{
    border: 1px dotted #aaa;
}

table.post-info tbody td,
table.post-info tbody th{
    padding:0.2rem;
}

table.post-info tbody th{
    background-color: #eee;
}

.balloon {
    position: relative;
    display: inline-block;
    margin: 1.5em 0;
    padding: 7px 10px;
    min-width: 120px;
    max-width: 100%;
    color: #555;
    font-size: 16px;
    background: #fff6e4;
    border-radius: 15px;
}

.balloon:before {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -15px;
    border: 15px solid transparent;
    border-top: 15px solid #fff6e4;
}

.to-top-icon{
    display: inline-block;
    margin-right: 0.25rem;
    padding-top:0.1rem;
    font-weight: 700;
    font-size:80%;
    width: 1.2rem;
    height: 1.2rem;
    vertical-align: middle;
    border-radius: 99rem;
    background-color:#333;
    color: white;
}