.markdown{
    line-height: 1.7rem;
    word-break: break-word;
}

.markdown h1,
.markdown h2,
.markdown h3,
.markdown h4{
    margin: 2rem 0 1rem;
}

.markdown pre{
    background: #333;
    color:white;
    font-size:85%;
    font-family:monospace;
    line-height: 150%;
    padding: 1rem;
    border-radius: 0.5rem;
    white-space: -moz-pre-wrap;
    white-space: -pre-wrap;
    white-space: -o-pre-wrap;
    white-space: pre-wrap;
}

.markdown img{
    max-width: 100%;
}

div.markdown pre code{
    width:100px;
    word-wrap: break-word;
}

.markdown table{
    background:#fff;
    font-size: 90%;
    width: 100%;
}
.markdown table th,
.markdown table td{
    padding: 0.5rem;;
    border:1px solid #aaa;
}


.markdown table th{
    background-color: #333;
    color:#fff;
}

.markdown .twitter-tweet{
    margin: auto;
}

.markdown aside.msg{
    display: flex;
    align-items: flex-start;
    margin: 1.5rem 0;
    padding: 1.4em 1em;
    border-radius: 10px;
    background: #fff6e4;
    color: #000000a6;
    font-size: .94em;
    line-height: 1.6;
    box-shadow: rgba(0,0,0,0.30) 0 1px 1px;
}

.markdown aside.msg .msg-symbol{
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 700;
    width: 1.4rem;
    height: 1.4rem;
    border-radius: 99rem;
    background-color:orange;
    color: white;
}

.markdown aside.msg .msg-content{
    flex: 1;
    margin-left: 0.6em;
    min-width: 0;
}

.markdown img{
    display: block;
    margin: auto;
    max-width: 100%;
}

.markdown div.footnotes
{
    font-size: 80%;
    color: #666;
}


.markdown a[href^="http"]:after,
a[href^="//"]:after {
    margin: 0 0 0 3px;
    font-family: "Font Awesome 5 Free";
    content: '\f35d';
    font-weight: 900;
    font-size:80%;
    text-decoration: none;
}

.markdown img[src*="#center"] {  
    display: block;  
    margin: 4px auto;
}


.markdown img[src*="#center-w50"] {  
    display: block;  
    margin: 4px auto;  
    width:50%;
}

.markdown img[src*="#center-w100"] {  
    display: block;  
    margin: 4px auto;  
    width:75%;
}
