.post-content{
  line-height: 2em;
}

.post-content img {
  max-width: 100%;
  /* height: 200px; */
  object-fit: cover;
}

.post-content h1,
.post-content h2,
.post-content h3,
.post-content h4,
.post-content h5,
.post-content h6 {
  display: inline-block;
  position: relative;
  /* padding: 0 10px 0; */
  z-index: 0;
}

.post-content h1,
.post-content h2 {
  color: #933;
  /* padding: 0.5em 0; */
}


.post-content h3::before,
.post-content h4::before{
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1rem;
  background-color: #ffff66;
  z-index: -1;
}

.post-content h4::before{
  height: 0.5rem;
  background-color: #ccf;
}

.post-content h5,
.post-content h6{
  color: #333;
  /* padding: 0.5em 0; */
}

.post-content h1[id],
.post-content h2[id],
.post-content h3[id],
.post-content h4[id],
.post-content h5[id],
.post-content h6[id] {
  padding-top: 6rem;
  margin-top: -6rem;
}

.post-content a {
  color: #36e;
  border-bottom: 1px dotted #36e;
  text-decoration: none;
}

.post-content a:hover {
	color: #36e;
	border-bottom: 2px dotted #47d;
}

.post-content blockquote {
  border-left: 2px solid #666;
  margin-left: 0;
  padding-left: 1em;
}

.post-content pre {
  background-color: #f8f8f8;
  border: 1px solid #ccc;
  border-radius: 3px;
  font-size: 0.9em;
  line-height: 1.5;
  overflow: auto;
  padding: 1em;
}

.post-content pre code {
  background-color: transparent;
  border: none;
  font-size: 1em;
  line-height: 1.5;
  padding: 0;
}

.post-content code {
  background-color: #f8f8f8;
  border: 1px solid #ccc;
  border-radius: 3px;
  font-size: 0.9em;
  padding: 0.1em 0.3em;
}

.post-content hr {
  border-width: 0 0 8px;
  border-style: solid;
  border-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 2 1"><circle fill="hsla(0, 0%, 65%, 1.0)" cx="1" cy="0.5" r="0.5"/></svg>') 0 0 100% repeat;
  width: 216px;
  margin:2rem auto;
}

.giscus{
	background: #445;
	padding: 10px;
	border-radius: 10px;
}


aside.msg{
    display: flex;
    align-items: flex-start;
    margin: 1.5rem 0;
    padding: 1.4em 1em;
    border-radius: 10px;
    background: #fff6e4;
    color: #000000a6;
    font-size: .94em;
    line-height: 1.6;
    box-shadow: rgba(0,0,0,0.30) 0 1px 1px;
}

aside.msg .msg-symbol{
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 700;
    width: 1.4rem;
    height: 1.4rem;
    border-radius: 99rem;
    background-color:orange;
    color: white;
}

aside.msg .msg-content{
    flex: 1;
    margin-left: 0.6em;
    min-width: 0;
}
