<div class="page-content d-flex flex-column w-100 h-100">
    <!-- HEADER -->
    <nav class="navbar navbar-expand-lg fixed-top navbar-dark bg-gj-dark fs-6 fw-bold px-2">
        <a class="navbar-brand mx-0 mx-lg-4" href="/">
            <img src="{{ "images/GJUC-Logo.svg" | absURL }}" style="width:100%;">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav">
                <li class="nav-item mx-2">
                    <a class="nav-link" href="{{ "about" | relURL }}">当サイトについて</a>
                </li>
                <li class="nav-item mx-2">
                    <a class="nav-link" href="{{ "reference" | relURL }}">逆引きリファレンス</a>
                </li>
            </ul>
        </div>
        <!-- 承認されるまで非表示
        <a href="/" class="btn btn-lg btn-danger mx-3 shadow fs-6">Github Sponsorsで寄付</a>
        -->
    </nav>