// my-bootstrap.scss
// Reference: https://getbootstrap.com/docs/5.1/customize/sass/#importing
//
// 1. Include functions first (so you can manipulate colors, SVGs, calc, etc)
@import "../node_modules/bootstrap/scss/functions";

// 2. Custom Colors
$custom-white:   #FAF7EF;
$custom-dark:    #333333;
$custom-blue:    #2975BB;
$custom-indigo:  #345a6e;
$custom-purple:  #413350;
$custom-pink:    #d63384;
$custom-red:     #EF3355;
$custom-orange:  #fd7e14;
$custom-yellow:  #FFB800;
$custom-green:   #289785;
$custom-teal:    #20c997;
$custom-cyan:    #0fa8a8;

$custom-theme-colors : (
    "primary":       $custom-purple,
    "secondary":     $custom-yellow,
    "info":          $custom-blue,
    "danger":        $custom-red,
    "link-color":        darken($custom-blue, 10%),
    "link-hover-color":  darken($custom-blue, 25%),
    "dark":          $custom-dark,
    "light":         $custom-white
);

@import "../node_modules/bootstrap/scss/variables";

$theme-colors: map-merge($theme-colors, $custom-theme-colors);

@import "../node_modules/bootstrap/scss/maps";

// 3. Include remainder of required Bootstrap stylesheets
@import "../node_modules/bootstrap/scss/mixins";
@import "../node_modules/bootstrap/scss/root";

// 4. Include any optional Bootstrap CSS as needed
@import "../node_modules/bootstrap/scss/utilities";
@import "../node_modules/bootstrap/scss/reboot";
@import "../node_modules/bootstrap/scss/type";
@import "../node_modules/bootstrap/scss/images";
@import "../node_modules/bootstrap/scss/containers";
@import "../node_modules/bootstrap/scss/grid";
@import "../node_modules/bootstrap/scss/helpers";

// 5. Optionally include utilities API last to generate classes based on the Sass map in `_utilities.scss`
@import "../node_modules/bootstrap/scss/utilities/api";

// 6. Add additional custom code here
@import "../node_modules/bootstrap/scss/nav";
@import "../node_modules/bootstrap/scss/navbar";
@import "../node_modules/bootstrap/scss/transitions"; // It's essential for navbar-collapse
@import "../node_modules/bootstrap/scss/tooltip";
@import "../node_modules/bootstrap/scss/popover";
@import "../node_modules/bootstrap/scss/tables";
@import "../node_modules/bootstrap/scss/list-group";
@import "../node_modules/bootstrap/scss/pagination";
@import "../node_modules/bootstrap/scss/breadcrumb";
@import "../node_modules/bootstrap/scss/carousel";
@import "../node_modules/bootstrap/scss/buttons";
@import "../node_modules/bootstrap/scss/card";
@import "../node_modules/bootstrap/scss/modal";
@import "../node_modules/bootstrap/scss/close";