{{ partial "header.html" . }}
{{ partial "global-menu.html" . }}

<section class="container-fluid container-lg row mx-auto my-3">
    <h1 class="my-3 text-danger text-center">
    {{.Title}}
    </h1>
    <ul class="tag-list row g-2">
        <li class="col-auto"><a href="/news/" class="btn btn-light">All</a>
        {{- range $termName, $entries := .Site.Taxonomies.tags }}
        <li class="col-auto" style="text-transform: capitalize;"><a href="{{ "/tags/" | relLangURL }}{{ $termName | urlize }}" class="btn btn-light">{{ strings.FirstUpper $termName | humanize }}</a>
        {{- end }}
    </ul>
    <div class="row container-fluid g-2">
        {{ $paginator := .Paginator 5 }}
        {{ range $paginator.Pages }}
        {{ if .GitInfo}}
        {{ $info := .GitInfo}}
        <div class="col-12 col-lg-4">
            <div class="card news-column">
                <a href="{{ .Permalink | relURL}}">
                    {{ $cover_path := "" }}
                    {{ if eq (path.Dir .Params.image) "."}}
                    {{$cover_path = print .Permalink "/" .Params.image}}
                    {{else}}
                    {{$cover_path = .Params.image}}
                    {{end}}
                    <img src="{{ $cover_path }}" class="card-img-top news-images">
                    <div class="card-body">
                        <p class="info" style="text-transform: capitalize;">{{$info.AuthorName | humanize }} - {{dateFormat "2006/01/02 15:04:05" $info.AuthorDate}}</p>
                        <h5 class="card-title">{{.Title}}</h5>
                    </div>
                </a>
            </div>
        </div>
        {{end}}
        {{ end }}

        <nav aria-label="Paginator" class="my-3">
            <ul class="pagination justify-content-center">
            <li class="page-item">
                {{if $paginator.Prev}}
                <a href="" class="page-link">&laquo;</a>
                {{else}}
                <span class="page-link disabled">&laquo;</span>
                {{end}}
            </li>
            {{ range $paginator.Pagers }}
                <li class="page-item">
                    <a href="{{ .URL }}" class="page-link">{{ .PageNumber }}</a>
                </li>
            {{ end }}

            <li class="page-item">
                {{if $paginator.Next}}
                <a href="" class="page-link">&raquo;</a>
                {{else}}
                <span class="page-link disabled">&raquo;</span>
                {{end}}
            </li>
            </ul>
        </nav>
    </div>
</section>
{{ partial "footer.html" . }}