{{ partial "header.html" . }}
{{ partial "global-menu.html" . }}

<section class="container row mx-auto my-3">
    <h1 class="my-3 text-danger text-center">
    {{.Title}}
    </h1>
    <ul class="tag-list row gx-1">
        <li class="col-auto"><a href="/news/" class="btn btn-light">All</a>
        {{- range $termName, $entries := .Site.Taxonomies.tags }}
        <li class="col-auto"><a href="{{ "/tags/" | relLangURL }}{{ $termName | urlize }}" class="btn btn-light">{{ strings.FirstUpper $termName }}</a>
        {{- end }}
    </ul>
    {{ $paginator := .Paginator 5 }}
    {{ range $paginator.Pages }}
    {{ if .GitInfo}}
    {{ $info := .GitInfo}}
    <div class="card col-4 news-column">
        <a href="{{ .Permalink | relURL}}">
            <img src="{{ .Permalink | relURL}}/{{.Params.image}}" class="card-img-top news-images">
            <div class="card-body">
                <p class="info">{{$info.AuthorName}} - {{dateFormat "2006/01/02 15:04:05" $info.AuthorDate}}</p>
                <h5 class="card-title">{{.Title}}</h5>
            </div>
        </a>
    </div>
    {{end}}
    {{ end }}

    <nav aria-label="Paginator" class="my-3">
        <ul class="pagination justify-content-center">
        <li class="page-item">
            {{if $paginator.Prev}}
            <a href="" class="page-link">&laquo;</a>
            {{else}}
            <span class="page-link disabled">&laquo;</span>
            {{end}}
        </li>
        {{ range $paginator.Pagers }}
            <li class="page-item">
                <a href="{{ .URL }}" class="page-link">{{ .PageNumber }}</a>
            </li>
        {{ end }}

        <li class="page-item">
            {{if $paginator.Next}}
            <a href="" class="page-link">&raquo;</a>
            {{else}}
            <span class="page-link disabled">&raquo;</span>
            {{end}}
        </li>
        </ul>
    </nav>
</section>
{{ partial "footer.html" . }}