{{ partial "header.html" . }}
{{ partial "global-menu.html" . }}

<section class="container-fluid container-lg py-3">
    <h1 class="my-3 text-danger text-center">
        {{.Title}}
    </h1>
    <div class="col-8 mx-auto">
        {{ with .Params.tags }}
            <ul class="tags row mx-0 px-0">
                {{- range . -}}
                <li class="col-auto"><a href="{{ "/tags/" | relLangURL }}{{ . | urlize }}" class="btn btn-light border border-black-50">{{ strings.FirstUpper . | humanize }}</a>
                {{- end -}}
            </ul>
        {{ end }}
    </div>
    {{if .Params.image }}
    <div class="col-12 col-md-8 mx-auto text-center">
        <img src="{{.Params.image}}" style="width:100%;" class="news-images">
    </div>
    {{end}}
    <div class="my-3 text-center fw-bold" style="color:#999;">
        {{ if .GitInfo }}
        by {{.GitInfo.AuthorName | humanize}} - {{dateFormat "2006/01/02 15:04:05" .GitInfo.AuthorDate}}
        {{ end }}
    </div>
    <div class="mb-3">
        <div class="d-flex row gx-2 text-center justify-content-center">
            <a class="col-auto btn btn-info m-1 twitter-icon py-1" style="font-size:70%;"
            href="https://x.com/intent/tweet?text={{.Title}}%20%7C%20{{.Site.Title}}%0a&url={{.Permalink}}" 
            rel="nofollow" 
            target="_blank">シェア</a>
        </div>
    </div>
    <div class="col-12 col-md-8 mx-auto markdown">
        {{.Content}}
    </div>
    <div class="text-center my-4">
        <a href="#" class="btn btn-light border border-black-50"> 
            <span class="to-top-icon">↑</span>トップにもどる
        </a>
    </div>
</section>
{{ partial "footer.html" . }}