{{ partial "page/posts-side-bar" . }}
<div id="footer" class="mt-auto w-100">
    <div class="row bg-dark mx-0 py-2 justify-content-center align-items-center">
        <div class="text-center fs-6 col-auto">
            © 2022 Saitos and Contributors. Website source code and on <a href="https://github.com/godot-jp/godot-jp">Github.</a>
        </div>
        <div class="text-left mt-0 fs-6 col-auto row no-gutters">
            <a class="px-1 col-auto" href="https://github.com/godot-jp/"><img src="{{ "images/Github-Icon.svg" | relURL }}" height="20px"></a>
            <a class="px-1 col-auto" href="https://discord.gg/DyFvSJZ"><img src="{{ "images/Discord-Icon.svg" | relURL }}" height="20px"></a>
            <!-- <a class="pr-2 col-auto"><img src="{{ "images/Twitter-Icon.svg" | relURL }}" height="24px"></a>
            <a class="pr-2 col-auto"><img src="{{ "images/YouTube-Icon.svg" | relURL }}" height="24px"></a> -->
        </div>
    </div>
</div>
    {{ partial "scripts" . }}
</body>
</html>