<div id="footer" class="row bg-dark mt-auto mx-0 py-2 w-100 justify-content-center align-items-center">
    <div class="text-center fs-6 col-auto">
        © 2002 Saitos and Contributors. Website source code and on <a href="https://github.com/godot-jp/godot-jp">Github.</a>
    </div>
    <div class="text-left fs-6 col-auto row no-gutters">
        <a class="px-1 col-auto"><img src="{{ "images/GithubIcon.svg" | relURL }}"></a>
        <a class="px-1 col-auto"><img src="{{ "images/GithubIcon.svg" | relURL }}"></a>
        <a class="px-1 col-auto"><img src="{{ "images/GithubIcon.svg" | relURL }}"></a>
    </div>
</div>
{{ partial "scripts" . }}
</body>
</html>