{{- $url := (.Get 0) -}}
{{/* resources.GetRemote を try 関数で囲みます */}}
{{- with try (resources.GetRemote $url) -}}
    {{- with .Err -}}
        {{/* エラーがある場合 */}}
        {{- warnf "URL %s の取得に失敗しました: %s" $url . -}}
    {{- else with .Value -}}
        {{/* 正常に取得できた場合（.Value が元の $result に相当） */}}
        {{- $result := . -}}
        {{- $title := "" -}}
        {{- $description := "" -}}
        {{- $image := "" -}}
        {{- with $findHead := index (findRE "<head>(.|\n)*?</head>" $result.Content) 0 -}}
            {{- range $meta := findRE "<meta.*?>" $findHead -}}
                {{- $name := replaceRE "<.*name=\"(.*?)\".*>" "$1" $meta -}}
                {{- $property := replaceRE "<.*property=\"(.*?)\".*>" "$1" $meta -}}
                {{- $content := replaceRE "<.*content=\"(.*?)\".*>" "$1" $meta -}}
                {{- if eq $property "og:title" -}}
                    {{- $title = $content -}}
                {{- else if eq $property "og:description" -}}
                    {{- $description = $content -}}
                {{- else if eq $name "zenn:description" -}}
                    {{- $description = $content -}}
                {{- else if eq $property "og:image" -}}
                    {{- $image = $content -}}
                {{- end -}}
                {{- if and (eq $description "") (eq $name "description") -}}
                    {{- $description = $content -}}
                {{- end -}}
            {{- end -}}
            {{- if eq $title "" -}}
                {{- with index (findRE "<title>(.*?)</title>" $findHead) 0 -}}
                    {{- $title = replaceRE "<title>(.*?)</title>" "$1" . -}}
                {{- end -}}
            {{- end -}}
        {{- end -}}

        {{- $thumbnail_url := "" -}}
        {{- if $image -}}
            {{/* サムネイル取得も try を使用 */}}
            {{- with try (resources.GetRemote $image) -}}
                {{- with .Err -}}
                    {{- warnf "画像 %s の取得に失敗しました: %s" $image . -}}
                {{- else with .Value -}}
                    {{- $thumbnail := . -}}
                    {{- $thumbnail_url = ($thumbnail.Fit (printf "400x400 center q75 webp")).Permalink -}}
                {{- end -}}
            {{- end -}}
        {{- else -}}
            {{- $thumbnail := resources.Get $.Site.Params.dafaultNoimage -}}
            {{- if $thumbnail -}}
                {{- $thumbnail_url = ($thumbnail.Fit (printf "400x400 center q75 webp")).Permalink -}}
            {{- end -}}
        {{- end -}}
        
        <a href="{{- $url -}}" class="no-icon" onMouseOver="this.style.opacity='0.9'" target="_blank" rel="noopener noreferrer">
        <div class="card mb-3">
            <div class="row g-0">
                <div class="col-md-4">
                    <img src="{{- $thumbnail_url -}}">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title">{{- $title -}}</h5>
                        <p class="card-text text-dark">{{- $description | plainify | safeHTML -}}</p>
                    </div>
                </div>
            </div>
        </div>
        </a>
    {{- end -}}
{{- end -}}