<div class="container-fluid mt-5">
	<div class="row row-cols-1 row-cols-md-3 row-cols-lg-4 container m-auto footer-description">
		<div class="col">
			<p class="h3 text-light">Godot Japan</p>
			<p>
				国内最大級のGodot Engine日本コミュニティです。ユーザー同士のコミュニケーションをサポートし、快適にGodot Engineをご活用いただくために活動を行っています。
			</p>
		</div>
		<div class="col">
			<p class="h5 text-light">ユーザーコミュニティ</p>
			<ul class="list-inline">
				<li><a href="/about">Godot Japanについて</a></li>
				<li><a href="https://discord.gg/DyFvSJZ">Discordサーバーに参加する</a></li>
				<li><a href="/news">ニュース</a></li>
				<li><a href="/reference">逆引きリファレンス</a></li>
				<li><a href="/links">ユーザーリンク</a></li>
			</ul>
		</div>
		<div class="col">
			<p class="h5 text-light">フォーラム</p>
			<ul class="list-inline">
				<li><a href="https://forum.godot-japan.com/faq">FAQ＆ガイドライン</a></li>
				<li><a href="https://forum.godot-japan.com/t/topic/35">フォーラムの便利な使い方</a></li>
				<li><a href="https://forum.godot-japan.com/privacy">プライバシーポリシー</a></li>
			</ul>
		</div>
		<div class="col">
			<p class="h5 text-light">運営</p>
			<ul class="list-inline">
				<li><a href="/about#運営組織について">運営組織について</a></li>
				<li><a href="/donate">寄付</a></li>
				<li><a href="/contact">お問い合わせ</a></li>
				<li><a href="/press">プレスキット</a></li>
			</ul>
		</div>
	</div>
	<div class="text-center copyright">
		<small class="p-2 d-block">
			© Godot Japan 2020-{{ now.Year }}. Hosted by <a href="https://ahead-studio.com/">Ahead Studio</a>. Website source code on <a href="https://github.com/godot-jp/godot-jp.github.io">Github</a>
		</small>
	</div>
</div>