<nav class="navbar navbar-expand-lg navbar-light fixed-top mask-custom shadow-sm m-0 p-0">
  <div class="container-fluid">
    <a href="/" class="navbar-brand col">
      <img src="/img/logo_godot_japan.png" alt="Godot Japan" class="my-2"
      style="height:100%; width:100%; max-height:48px; object-fit:contain; object-position:left;">
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" aria-current="page" href="/about">Godot Japanについて</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="https://forum.godot-japan.com/">フォーラム</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/news">ニュース</a>
        </li>
        {{ with .Site.GetPage "tutorial/"}}
        <li class="nav-item">
          <a class="nav-link" href="#">チュートリアル</a>
        </li>
        {{ end }}
        <li class="nav-item">
          <a class="nav-link" href="/contact">お問い合わせ</a>
        </li>
        <a href="/donate" class="btn btn-danger mx-3 mt-3 mt-lg-0 shadow-animation text-light">
          <i class="bi bi-chat-heart-fill"></i> Donate
        </a>
      </ul>
    </div>
  </div>
</nav>
  