body{
    font-family: "M PLUS 1p", 'Noto Color Emoji';
    font-size:16pt;
    font-weight: 400;
    line-height: 1.5em;
    color:#4B5A64;
    padding-top: 80px;
}

h1, h2, h3, h4{
    line-height: 1.5em;
    font-weight: 500;
}

.posts{
    line-height: 1.5em;
}

.posts h2{
    margin: 1em 0 .5em 0;
}

.posts p a{
    color:#22638f;
    text-decoration:none;
    border-bottom: 1px dotted;
}


.posts p a:hover{
    color:red;
    text-decoration:none;
    border-bottom: 1px dotted;
}

.posts h2{
    font-weight: 800;
}

.h2-primary{
    color:rgb(255, 0, 0);
    text-align: center; 
    font-weight: 800;
}

.bg-gj-dark{
    background-color: #2D3337;
    color:aliceblue;
}

.text-gj-light-dark{
    color:#4B5A64;
}

.text-gj-dark{
    background-color: #4c5458;
}

.bg-gj-light-dark{
    background-color: #4B5A64;
    color:aliceblue;
}

.bg-gj-light-dark:hover{
    background-color: #637581;
    color:white;
}

.rounded-5 {
    border-radius: 0.5rem;
}

.scroll-container{
    overflow: auto;
    scroll-snap-type: y mandatory;
    height: 100vh;
}

.area {
    scroll-snap-align: start;
    height: 100vh;
}

strong{
    font-weight: 900 !important;
}

#footer,
#footer a{
    color:#8ba6b8;
}

#footer a:hover{
    color: #a9cae0;
}

/*
OVERRIDE
*/

.list-group-item{
    border:0;
    padding: 0;
}

.list-group-item a{
    text-decoration: none;
    color:#22638f;
    display: block;
    padding:0.25em 1.25em;
}


.list-group-item a:hover{
    color: red;
    background:whitesmoke;
}

.list-group-item .list-group-item a{
    padding-left: 2rem;
}

.card-header a{
    text-decoration: none;
    color:#4B5A64;
    font-weight: 600;
    display: block;
}

.card-header a:hover{
    color: #637581;
}